{% extends '@EasyAdmin/page/content.html.twig' %}
{% block main %}
  <div>
    <p>Nombre de clients: {{clients|length}}</p>
    <p>Nombre d'utlisateurs: {{users|length}}</p>
    <p>Nombre de candidats: {{candidats|length}}</p>
    <p>Nombre de candidats: {{candidats|length}}</p>
  </div>
{% endblock %}
